@tailwind base;
@tailwind components;
@tailwind utilities;

.buy-table thead {
  background-color: #e8f5e9; /* Light green background */
  color: #2e7d32; /* Dark green text */
}

.sell-table thead {
  background-color: #ffebee; /* Light red background */
  color: #c62828; /* Dark red text */
}